/* #region RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* #endregion RESET */
/* PALESEMENTE PRESO DA W3S PER NASCONDERE LE SCROLLBAR CHE NON CI PIACCIONO */
/* Hide scrollbar for Chrome, Safari and Opera */
.hidescroll::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* #region debug */
.debug #sidebar {
    background-color: blue;
}
.debug main {
    background-color: green;
}
.debug #upgrade {
    background-color: red;
}
.debug #pagebottom {
    background-color: lightcoral;
}
.debug .col-2 {
    background-color: lightgoldenrodyellow;
}
.debug .col-8 {
    background-color: lightblue;
}
/* #endregion debug */
/* #region GENERAL */
html {
    overflow: hidden;
}
body {
    font-family: "Montserrat", sans-serif;
}
.container {
    padding: 1rem;
}
.container-s {
    padding: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-2 {
    width: calc(100% / 12 * 2);
    padding: .9rem;
}
.col-8 {
    width: calc(100% / 12 * 8);
}
a {
    text-decoration: none;
}
.flexible {
    display: flex;
}
.jc-end {
    justify-content: end;
}
.jc-center {
    justify-content: center;
}
.jc-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.fd-column {
    flex-direction: column;
}
.ai-center {
    align-items: center;
}
.s-around {
    justify-content: space-around;
}
.ta-center {
    text-align: center;
}
.px-2 {
    padding-bottom: 1rem;
}
.p-0 {
    padding: 0;
}
/* #endregion GENERAL */

/* ----------------------- DESKTOP FIRST ----------------------- */
/* #region PAGE TOP */
/* #region siderbar */
#page-top {
    height: calc(100vh - 90px);
}
#sidebar {
    width: 300px;
    background-color: black;
    color: white;
}
.sidebar-md {
    height: 100%;
}
.logo-desktop {
    width: 70%;
    padding-bottom: 1rem;
}
li {
    list-style: none;
    padding-bottom: 10px;
}
ul {
    position: relative;
}
.leftline::before {
    position: absolute;
    content: '\007C';
    color: #adff2f;
    left: -1.15rem;
    font-size: 2rem;
}
ul > li > a:hover, .add-playlist:hover, .personal-playlist>ul>li:hover, .install:hover, #subtitle:hover, .icon-current-song>i:hover {
    filter: brightness(10);
    cursor: pointer;
}
#sidebar li > a {
    color: #a3a3a3;
    font-size: .9rem;
}
#sidebar li > a > img {
    width: 1.8rem;
    filter: invert(0.4);
    padding-right: .3rem;
}
.playlist {
    padding: .6rem 0;
}
.playlist .title {
    color: #a3a3a3;
    padding-bottom: .5rem;
}
.addplaylist {
    gap: .5rem;
    font-size: .9rem;
    font-weight: 500;
}
.btn-add {
    width: 25%;
    aspect-ratio: 1;
    background-color: #a3a3a3;
    color: black;
    position: relative;
}
.btn-add > .fa-solid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.personal-playlist {
    color: #a3a3a3;
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 2;
    height: 15rem;
    overflow: auto;
}
.install {
    gap: .5rem;
    font-size: .8rem;
    color: #a3a3a3;
}
.install-icon>img {
    width: 1.3rem;
}
#line {
    height: 1px;
    background-color: #a3a3a3;
    margin: .3rem 0;
}
.profile {
    gap: .5rem;
    padding-top: .5rem;
}
.profile-icon {
    background-color: #a3a3a3;
    border-radius: 50%;
    padding: 2px;
    width: 1.9rem;
    aspect-ratio: 1;
    position: relative;
}
.profile-icon > img {
    width: 1.3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.profile-name {
    color: white;
    font-weight: 700;
}
/* #endregion side_bar */
/* #region MAIN */
main {
    background-color: #141922;
    overflow: auto;
    width: 100%;
}
main img {
    width: 100%;
}
main h2 {
    padding: 1rem;
}
main h4, main h2 {
    color: white;
}
main h2+div, main h4+div {
    color: #a3a3a3;
}
#create-for h2+div, #popular-artists h2+div {
    padding-left: 1rem;
    padding-bottom: 1rem;
}
main h4+div {
    padding-top: .5rem;
}
main h4 {
    padding-top: 1rem;
}
.card {
    position: relative;
}
#upgrade {
    padding: 1rem 15px;
    position: sticky;
    top: 0;
    background-color: #080b12;
    z-index: 1000;
}
.btn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: .7rem 3rem;
    border-radius: 30px;
    font-size: .9rem;
    text-decoration: none;
    transition: .3s;
}
.btn:hover {
    scale: 1.1;
}
.square {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.square > .fa-regular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}
.square {
    display: none;
}
.card:hover .square {
    display: block;
}
.card:hover {
    filter: brightness(150%) saturate(120%);
  } 
#menu {
    max-width: 625px;
    width: 60%;
    margin: auto;
    gap: 1rem;
    font-size: .8rem;
}
#menu a {
    color: #a3a3a3;
    font-weight: 600;
    transition: .3s;
}
#menu a:hover {
    color: white;
}
.underline {
    width: 50%;
    margin: auto;
    padding-top: 5px;
    border-bottom: 2px solid #adff2f;
}
#popular-artists img, #popular-artists .square {
    border-radius: 50%;
}
/* #endregion MAIN */
/* #endregion PAGE TOP */
/* #region PAGE BOTTOM */
#page-bottom {
    height: 90px;
    position: relative;
    background-color: #282828;
    color: white;
}
.song {
    padding-left: 10px;
}
.song-title {
    padding: 10px;
    font-size: .9rem;
}
#subtitle {
    font-size: 0.6rem;
    color: #a3a3a3;
    transition: .2s;
}
.song-image {
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}
.song-image>img {
    width: 100%;
}
.icon-current-song {
    gap: .5rem;
    color: #a3a3a3;
}
.timing-btn>i:hover, .volume-icon>i:hover {
    scale: 1.2;
}
.timing-btn>.fa-circle-play {
    transition: .2s;
}
#timing {
    width: 80%;
    line-height: 3rem;
    padding-top: 1rem;
}
.timing-btn {
    gap: 2rem;
}
.timing-bar {
    width: 60%;
    font-size: .6rem;
    max-width: 600px;
}
.bar {
    width: 80%;
    margin: auto;
    background-color: #a3a3a3;
    height: 4px;
    border-radius: 2px;
    position: relative;
}
.bar:hover .real-time-bar {
    background-color: #adff2f;
}
.bar:hover .joystick {
    display: block;
}
.real-time-bar {
    width: 20%;
    background-color: #a3a3a3;
    height: 4px;
    border-radius: 2px;
    position: absolute;
}
.joystick {
    width: 13px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: -4px;
    display: none;
}
.volume {
    margin-right: 1rem;
}
.volume-icon {
    gap: 1rem;
    padding-right: .5rem;
}
.sound {
    width: 50%;
}
/* #endregion PAGE BOTTOM */
/* ----------------------- /DESKTOP FIRST ----------------------- */

/* #region MEDIA QUERY */
/* MD */
@media screen and (max-width: 1100px) {

}
/* S */
@media screen and (max-width: 700px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-3 {
        width: calc(100% / 12 * 3);
    }
    .icon-current-song {
        flex-direction: column;
    }
    .timing-btn {
        gap: 1.5rem;
    }
}
/* XS */
@media screen and (max-width: 600px) {
    #sidebar {
        width: 50px;
    }
    .sidebar-md {
        display: none;
    }
    .sidebar-s {
        height: 100%;
    }
    .home-s {
        padding-top: 6px;
    }
    .home-s, .search-s, .library-s {
        scale: .9;
        filter: invert(0.4);
    }
    .logo-s > img {
        width: 100%;
    }
    .install-icon-s > img {
        padding-right: 5px;
        width: 2rem;
    }
    .profile-icon-s {
        background-color: #a3a3a3;
        border-radius: 50%;
        padding: 2px;
        width: 1.9rem;
        aspect-ratio: 1;
        position: relative;
        margin-bottom: .5rem;
    }
    .profile-icon-s>img {
        width: 1.3rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .home-s:hover, .search-s:hover, .library-s:hover {
        filter: brightness(10);
    }
    .home-s, .search-s, .library-s {
        transition: .3s;
    }
    main {
        width: calc(100vw - 50px);
    }
    .song-image {
        width: 40px;
    }
    .icon-current-song {
        padding-right: 10px;
    }
    .timing-btn {
        gap: .9rem;
    }
    .timing-bar {
        gap: 4px;
    }
    .col-2 {
        width: 50%;
    }
}
/* #endregion MEDIA QUERY */